
.rightPopup {
  div:nth-child(3) {
    justify-content: flex-end !important;
    div:only-child {
      margin: 0;
      height: 100%;
      width: 100%;
      max-width: 800px;
      max-height: inherit;
    }
  }
}

.text {
  text-align: center;
  padding: 0 16px;
  position: relative;
}

.line {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 100%;
  background-color: #7C8FAC;
  height: 1px;
}